<footer>
  <p>{{ site.data.site.footer }}</p>
  <p class="footer-hits" aria-label="{{ site.data.ui.footer.visitor_aria_label }}" style="opacity:.48;font-size:.64rem;">
    <span>{{ site.data.ui.footer.visitor_label }}</span>
    <img src="https://hits.sh/fujimototaku.github.io.svg?view=total&amp;style=flat-square&amp;label={{ site.data.ui.footer.visitor_badge_label | url_encode }}&amp;extraCount=1000000000&amp;color=777777&amp;labelColor=999999" alt="{{ site.data.ui.footer.visitor_alt }}" style="height:16px;width:auto;vertical-align:middle;filter:grayscale(1);">
  </p>
</footer>
